/* Import Google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* -------------------/
    general styles
/--------------------*/

body {
    background-color: #1C1C1C;
    font-family: 'Inter', sans-serif;
    color: #FFF;
}

/* flex */
header,
form,
.exploring,
.movie-container,
.movie-details,
.watchlist-add,
.length-genre-watchlist {
    display: flex;
}

main {
    width: 34.375rem;
    height: 48.6875rem;
    background-color: #0E0E0E;
    overflow-x: hidden;
    scrollbar-width: none;
}

header {
    /* background-color: #121212; */
    background-image: url("../img/header.png");
    height: 13rem;
    justify-content: space-around;
    align-items: center;
   
}

h1 {
    font-size: 2.674375rem;
    font-weight: 800;
    letter-spacing: -0.1rem;
    line-height: 0.567;
}

a {
    font-size: .875rem;
    font-weight: 700;
    cursor: pointer;
    color: #FFF;
    text-decoration: none;
}

form {
    justify-content: center;
    position: relative;
    bottom: 1.1rem;
}

input {
    
    padding: .8125rem .5625rem;
    width: 342px;
    height: 38px;
    border: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: #2E2E2F;
    background-image: url("../img/Search.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 40px; 
    font-size: 14px;
    font-weight: 500;
    color: #A5A5A5;
}

input::placeholder {
    font-size: 14px;
    font-weight: 500;
}

button {
    background-color: #4B4B4B;
    color: inherit;
    border: none;
    padding: 9px 11px 9px 17px;
    width: 120px;
    height: 38px;
    font-weight: 500;
    font-size: 14px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
}

.exploring {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 571px;
    color: #2E2E2F;
    font-weight: 700;
    font-size: 18px;
}

.exploring img {
    margin-bottom: 9px;
}

.not-found,
.empty-list {
    display: grid;
    place-items: center;
    height: 500px;
    color: #787878;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    width: 58%;
    margin: 0 auto;
}

.empty-list {
    width: 80%;
}

.empty-list span {
    margin-left: 7px;
    color: #FFF;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.movie-container {
    margin: 25px 44px;
    border-bottom: 1px solid gray;
}

.movie-img {
    margin-bottom: 20px;
    border-radius: 2.33px;
    width: 99px;
    height: 148px;
}

.movie-details {
    margin: 15px 0 0 21px;
    
    flex-direction: column;
    gap: 9px;
}

.watchlist-btn {
    cursor: pointer;
}

.title-rating {
    display: flex;
    align-items: center;
    gap: 5px;
}

.movie-title {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
}

.rating {
    font-size: 12px;
}

.length-genre-watchlist {
    font-size: 12px;
    
    align-items: center;
    gap: 18px;
}

.watchlist-add {
    
    align-items: center;
    gap: 5px;
}

.movie-paragraph {
    font-size: 14px;
    color: #A5A5A5;
    line-height: 20px;
    
}

.watchlist-header {
    margin-bottom: 2rem;
}

.not-found {
    display: none;
}
